.todays-weather {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 25%;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
    font-size: 1.5vw;
}

.location-details {
    display: flex;
    flex-direction: column;
}

.location-details {
    margin: 0;
}

.temperature-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature {
    font-size: 3vw;
}
