.todays-weather {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 25%;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 8px;
    padding: 20px;
    font-size: 1vw;
}

.location-details {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.temperature-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: fit-content;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 8px;
    padding-right: 10px; */
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: lighter;
}

.temperature {
    font-size: 3vw;
}
