.weather-content {
    position: fixed;
    top: 5vh; /* same height as navbar */
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 1em;
}

.horizontal-divider {
    border-bottom: 1px solid black;
    width: 100%;
    margin: 15px;
}
