.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0 70px 0;
}

.border {
    border-bottom: 1px solid black;
    width: 30%;
}

.content {
    padding: 0 10px 0 10px;
}
