.tabs {
    display: flex;
}
.tabs-time-format,
.tabs-weather-type {
    display: flex;
    gap: 5px;
}

.divider {
    display: inline-block;
    width: 2px;
    background-color: black;
    margin: 0 10px;
    height: 1.5em;
}
