.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    display: flex;
    margin: 2em;
}
.tabs-time-format,
.tabs-weather-type {
    display: flex;
    gap: 5px;
}
.graphs {
    margin-left: 20px;
}

.divider {
    display: inline-block;
    width: 2px;
    background-color: black;
    margin: 0 10px;
    height: 1.5em;
}

.selected-tab {
    font-weight: 600;
    border-bottom: 2px solid cornflowerblue;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}

.unselected-tab {
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    border: 'none';
    background: 'none';
}

.weather-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 3em;
    justify-content: space-evenly;
}
